body {
    background-image: url("https://images.unsplash.com/photo-1580093399052-1fc6ee93d93d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1245&q=80");
    background-color: #878596;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Garamond;
    font-size: 14px;
    color: whitesmoke;
}

.feature {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;  
}

.row, .navigation {
    display: flex;
}

.width-50 {
    width: 50%;
}

.links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.navigation {
    align-items: center;
    margin-left: 45px;
    margin-right: 40px;
}

.row {
    align-items: flex-end;
    padding-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contact {
    display: flex;
    flex-direction: row;
}

.inline-block {
    display: inline-block;
    padding-right: 10px;
}

.social {
    display: flex;
    flex-direction: row-reverse;
}

.topline {
    background-color: whitesmoke;
    height: 2px;
    opacity: 30%;
    margin-left: 40px;
    margin-right: 40px;
}

.uppercase {
    text-transform: uppercase;
}

button {
    font-family: garamond;
    font-size: 14px;
    text-transform: uppercase;
}

.feature-click {
    background-color: #ff4d00;
    color: whitesmoke;
    border-style: none;
    font-size: 16px;
    padding: 10px 20px;
}

.underlined-heading {
    font-size: 60px;
    padding-bottom: 2px;
}

.faux-underline {
    background-color: #ff4d00;
    color: #ff4d00;
    border-style: none;
    font-size: 1px;
    padding: 2px 90px;
    border-radius: 12px;
}

.wrap {
    font-size: 18px;
    inline-size: 500px;
    word-wrap: break-word;
    text-align: center;
}